
    {% extends 'base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}


{% block content %}
<div class="container mt-4">
</div>
    <section id="productos" class="mt-5">
    <h2>Laptops!!</h2>
    <div class="row">
        <!-- Producto 1: Mouse Gamer RGB -->
        <!-- Producto 1: Laptop HP -->
    <div class="col-md-4">
        <div class="card shadow">
            <a href="https://www.amazon.com/-/es/Pavilion-pantalla-pulgadas-almacenamiento-procesador/dp/B0C4G4L53W?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=X8XMHI9N1LNE&dib=eyJ2IjoiMSJ9.ixMP14-M_Y2vn-Jbp2HcZyOwVY7JqzywGndU7qZ50sEgnnsXqYV7rV6H8AR8YePyc77Yo3D5OXT_86R9Nghodg0_BxnD3_SctK01k3iNlrhuAcHkUOhk0_RCmN5Ujfy2hjJGfBC4-Zx1F56s5ubhJmxDCfC7UaAEcsN1Ps6bulOpkvrv4PTE15Bij9XfxH3q9_f9nItKcWYoHL9b_BEkOxndcUpZfTCcKvMnsVw_ByY.VVslcZkebeC0DouNju75IC3HUdCevequj3-SyqsZ2c4&dib_tag=se&keywords=Laptop+HP+Pavilion&qid=1733322583&sprefix=laptop+hp+pavilion%2Caps%2C413&sr=8-3" class="dropdown-item">
            <img src="{% static 'img/laptop1000.png' %}" alt="Laptop HP Pavilion" class="img-fluid">
            <div class="card-body text-center">
                <h5 class="card-title">Laptop HP Pavilion</h5>
                <p class="price">$699.99</p>
                <p class="card-text">Laptop HP con procesador AMD Ryzen 5, 8 GB de RAM y almacenamiento SSD de 256 GB, ideal para estudiantes y profesionales.</p>
                <p>⭐⭐⭐⭐☆</p>
            </div>
            </a>
        </div>

    </div>
    <!-- Producto 2: MacBook Pro -->
    <div class="col-md-4">
            <div class="card shadow">
                <a href="https://www.amazon.com/-/es/ASUS-Vivobook-Computadora-port%C3%A1til-pantalla/dp/B0CLHCWNV8?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3ONE9WWOXCHPZ&dib=eyJ2IjoiMSJ9.v81Qzej5S7ULz_HapA7VAGCiX78RFBIoj-QfP4T0vDGvm8DBIVXqgWFQ6gR238Ig2XLo0gxRnDcX2Wg3JMaQyHuZmM44bN5rOvyf5KoQXJnmOmVhLd49cM-R3yMDQuuocQhKwJzIDm2EyOLI41ds2pwle8S3qwLtHzOc4PfPRS-Zb7zQlpKu1aYb1W6k35MLvPjYZaE-Y_7lLYEYqpfqyegmpSJulr2MOFqUEaG6eWA.ELCod6_Vx6zhKAJaLLk6EJInIfC_nJwu-zjKZ5WOkx8&dib_tag=se&keywords=ASUS%2BVivoBook&qid=1733322720&sprefix=laptop%2Bhp%2Bpavilion%2Caps%2C9470&sr=8-3&th=1" class="dropdown-item">
                <img src="{% static 'img/product2.jpg' %}" alt="Laptop ASUS" class="img-fluid">
                <div class="card-body text-center">
                    <h5 class="card-title">Laptop ASUS VivoBook</h5>
                    <p class="price">$799.99</p>
                    <p class="card-text">Laptop ASUS con pantalla Full HD de 15.6", procesador Intel Core i5 y diseño ultraligero para máxima productividad.</p>
                    <p>⭐⭐⭐⭐⭐</p>
                </div>
                </a>
            </div>
        </div>
    <!-- Producto 3: Laptop Dell -->
    <div class="col-md-4">
        <div class="card shadow">
            <a href="https://www.amazon.com/-/es/Dell-empresarial-XPS-15-retroiluminado/dp/B0CYQ59NNF?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=R6TGLZCA0I8U&dib=eyJ2IjoiMSJ9.Mc5eJhuwS0qng4AbY-JGu5jSGCFOaYV77ElvR1nm9Bwcaa0B6xSKraz4VRe-zerY9PltrvModLbvf7lHQxVjWXLp9Vxa60qib0ynsFb4eTjr26GL-VwfZplXULTR2Q4Ib01qfL-9PZ0Ykb7nuxC5E5tYX0ZpfqgGweI59pPEpTKQ7l79Yqq5zWDvZb03qeEEPYOLgpdd2k48l1ystYSenC5aSNzPXy0iwV6VtRAMS00.im2q_WsXAO-nC5HJ-3-Dvrwdnu4fEO2N_oP-uv_KiVs&dib_tag=se&keywords=Dell+XPS+13&qid=1733322812&sprefix=asus+vivobook%2Caps%2C1078&sr=8-3" class="dropdown-item">

            <img src="{% static 'img/laptop23.png' %}" alt="Laptop Dell XPS" class="img-fluid">
            <div class="card-body text-center">
                <h5 class="card-title">Laptop Dell XPS 13</h5>
                <p class="price">$1,099.99</p>
                <p class="card-text">Laptop Dell ultradelgada con pantalla InfinityEdge 4K y procesador Intel Core i7, perfecta para multitareas.</p>
                <p>⭐⭐⭐⭐⭐</p>
            </div>
            </a>
        </div>
    </div>

    </div>
</section>
{% endblock %}